#dress {
  position: absolute;
  width: 230px;
  height: 230px;
}

.dress1 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/dress-dm005.png);
}

.dress2 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/dress-dm006.png);
}

.dress3 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/dress-dm007.png);
}

.dress4 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/dress-dm008.png);
}
