#buttons {
  display: flex;
  width: 425px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.btn,
.btn-tool {
  font-family: "DeliusSwashCaps";
  font-weight: 400;
  cursor: pointer;
  border-radius: 22px;
  border: 2px solid rgba(232, 244, 234, 0.6);
  background: #e8f4ea;
  background: linear-gradient(
    162deg,
    rgba(232, 244, 234, 1) 0%,
    rgba(210, 231, 214, 1) 35%,
    rgba(184, 216, 190, 1) 100%
  );
  margin: 2px auto;
  text-align: center;
  padding: 3px 9px;
  font-size: 12px;
  transition: all 0.3s ease;
  color: #45904a;
  text-decoration: none;
}

.btn:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur226.ani),
    url(https://cur.cursors-4u.net/cursors/cur-3/cur226.png), auto !important;
  box-shadow: 0 2.5px 5px rgba(186, 221, 164, 0.4);
  transform: translateY(-2px);
  background: #84b87c;
  background: radial-gradient(
    circle,
    rgba(132, 184, 124, 1) 0%,
    rgba(186, 221, 164, 1) 75%
  );
}

.btn-tool:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur226.ani),
    url(https://cur.cursors-4u.net/cursors/cur-3/cur226.png), auto !important;
  box-shadow: 0 2.5px 5px rgba(209, 236, 193, 0.4);
  transform: translateY(-2px);
  background: #84b87c;
  background: radial-gradient(
    circle,
    rgba(132, 184, 124, 1) 0%,
    rgba(186, 221, 164, 1) 75%
  );
}

.btn-column-prev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: auto;
}

.btn-column-next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: auto;
}

.btn-toolbar {
  display: flex;
  justify-content: space-between;
  width: 475px;
  margin-top: 3px;
}

@media screen and (max-width: 627px) {
  #buttons {
    width: 375px;
  }
  .btn,
  .btn-tool {
    margin: 2px auto;
    padding: 1.5px 3px;
  }

  .btn-column-prev,
  .btn-column-next {
    gap: 0px;
  }

  .btn-toolbar {
    width: 400px;
    margin-top: 3px;
  }
}
