@import url(../css/normalize.css);
@import url(../css/fairy-buttons.css);
@import url(../css/fonts.css);
@import url(../css/fairy-weather.css);

body {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur242.ani),
    url(https://cur.cursors-4u.net/cursors/cur-3/cur242.png), auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background: #e84d7b;
  background: linear-gradient(
    150deg,
    rgba(232, 77, 123, 1) 0%,
    rgba(255, 145, 184, 1) 100%
  );
  background-size: 150% 150%;
  box-sizing: border-box;
  background-image: url(../assets/bckgnd-bokeh-1.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: img-slide 100s linear infinite alternate;
}

@keyframes img-slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#pagetitle {
  font-family: "Bonbon";
  font-style: normal;
  font-weight: 400;
  color: #ffd1dc;
  font-size: 2.5em;
  text-shadow: 1.5px 1.5px 3px rgba(169, 64, 100, 0.5),
    0 0 20px rgba(255, 209, 220, 0.4);
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  text-align: center;
}

#container {
  position: relative;
  height: 275px;
  width: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dollarea {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 6px 24px rgba(169, 64, 100, 0.3),
    0 0 0 2px rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.6);
  width: 247px;
  height: 247px;
}

#accent,
#dollarea,
#dollbody,
#dollbckgnd,
#dress,
#hair,
#shoes,
#wings {
  position: absolute;
  width: 247px;
  height: 247px;
  border-radius: 15px;
  border: none;
}

@media screen and (max-width: 627px) {
  body {
    background-size: 200% 200%;
  }

  #pagetitle {
    margin-top: -10px;
    font-size: 30px;
    max-width: 550px;
    min-width: 300px;
  }

  #container {
    height: 200px;
    width: 420px;
  }

  #accent,
  #dollarea,
  #dollbody,
  #dollbckgnd,
  #dress,
  #hair,
  #shoes,
  #wings {
    width: 175px;
    height: 175px;
  }
}
