@font-face {
  font-family: "Bonbon";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bonbon-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DeliusSwashCaps";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DeliusSwashCaps-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ButterflyKids";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ButterflyKids-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FleurDeLeah";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FleurDeLeah-Regular.ttf") format("truetype");
}
