#hair {
  position: absolute;
  width: 230px;
  height: 230px;
}

.hair1 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hair-dm022.png);
}

.hair2 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hair-dm023.png);
}

.hair3 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hair-dm024.png);
}

.hair4 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hair-dm025.png);
}

.hair5 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hair-dm026.png);
}

.hair6 {
  position: absolute;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hair-dm027.png);
}
