@import url(../vendor/normalize.css);
@import url(../css/wings.css);
@import url(../css/body.css);
@import url(../css/hair.css);
@import url(../css/dress.css);
@import url(../css/shoes.css);
@import url(../css/dollbckgnd.css);
@import url(../css/accent.css);
@import url(../css/buttons.css);
@import url(../css/fonts.css);

#pagetitle {
  font-family: "Bonbon";
  font-style: normal;
  font-weight: 400;
  color: #ffd1dc;
  position: absolute;
  left: 85px;
}

#container {
  position: absolute;
  margin: auto;
  height: 430px;
  width: 450px;
  background-color: #e75480;
}

#basebckgnd {
  position: absolute;
  height: 230px;
  width: 230px;
  top: 75px;
  left: 100px;
  right: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg-dm030.png");
}
