#buttons {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.btn,
.btn-tool {
  font-family: "Lacquer";
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  border-radius: 22px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(135deg, #ead1ff 0%, #e3b3ff 100%);
  margin: 4px auto;
  text-align: center;
  padding: 6px 12px;
  font-size: 12px;
  box-shadow: 0 3px 8px rgba(127, 64, 169, 0.2);
  transition: all 0.3s ease;
  color: #8b48d7;
  text-decoration: none;
}

.btn:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur240.ani),
    url(https://cur.cursors-4u.net/cursors/cur-3/cur240.png), auto !important;
  box-shadow: 0 5px 12px rgba(169, 64, 100, 0.4);
  transform: translateY(-2px);
  background: linear-gradient(135deg, #e3b3ff 0%, #da99ff 100%);
}

.btn-tool:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur240.ani),
    url(https://cur.cursors-4u.net/cursors/cur-3/cur240.png), auto !important;
  box-shadow: 0 5px 12px rgba(169, 64, 100, 0.4);
  transform: translateY(-2px);
  background: linear-gradient(135deg, #e3b3ff 0%, #da99ff 100%);
}

.btn-toolbar {
  width: 330px;
  position: absolute;
  bottom: -190px;
}

.btn-column-prev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  pointer-events: auto;
}

.btn-column-next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  pointer-events: auto;
}

@media screen and (max-width: 627px) {
  .btn,
  .hidebtn {
    margin: 2px auto;
    padding: 1.5px 3px;
  }

  #page-switch {
    margin: 2px auto;
    padding: 1.5px 3px;
    bottom: 6px;
  }

  .toolbtns {
    width: 275px;
    bottom: -205px;
  }

  .btn-column-prev,
  .btn-column-next {
    gap: 0px;
  }
}
